<!-- register.component.html -->
<div class="pad">
    <!-- register.component.html -->

<form (ngSubmit)="login()" #registerForm="ngForm" style="background-color:aliceblue">
 
    <div>
        <h2 class="h2-tittle">Login</h2>
    </div>
    <div class="icon-user">
        <i class="fa fa-user"></i>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="email" placeholder="email" [(ngModel)]="email" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" placeholder="password" required>
    </div>
   
    <button type="submit" [disabled]="!registerForm.valid">Login</button>
    <div class="div-a">
        ¿Perdistes la contraseña? <a href="">Restablecer Contraseña</a>
    </div>
    <div class="div-aRegis">
        ¿No tienes cuenta registrada? <a href="">register</a>
    </div>
  </form>
</div>
