<!-- register.component.html -->
<div class="pad">
    <!-- register.component.html -->

<form (ngSubmit)="login()" #registerForm="ngForm" style="background-color:aliceblue"  [formGroup]="form">
 
    <div>
        <h2 class="h2-tittle">Login</h2>
    </div>
    <div class="icon-user">
        <i class="fa fa-user"></i>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="email" placeholder="email"  required   formControlName="email">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" placeholder="password" required  formControlName="password">
    </div>  
   
    <button type="submit" [disabled]="!registerForm.valid">Login</button>
    <div class="div-a">
        ¿Perdistes la contraseña? <a routerLink="/restablecer">Restablecer Contraseña </a>
    </div>
    <div class="div-aRegis">
        ¿No tienes cuenta registrada? <a routerLink="/register">register</a>
    </div>

    <div *ngIf="responseMessage" class="response-message">
      {{ responseMessage }}
    </div>
  </form>
</div>
