<div class="toolbar-row">
    <div class="toolbar">
        <div class="mat-row">
            <span class="logo" routerLink="/">FLASH PIZZA</span>
        </div>
    </div>
</div>
<div class="container" role="main">
    <mat-tab-group dynamicHeight mat-stretch-tabs>
        <mat-tab label="Menu">
            <app-menu></app-menu>
        </mat-tab>
        <mat-tab label="Reserva" *ngIf="client">
            <app-reserva></app-reserva>
        </mat-tab>
    </mat-tab-group>
</div>
<footer>
    SOAD PROYECTO 2 2024 SEMESTRE 1
</footer>