<div class="container">
    <div class="column">
        <h1>Reservar</h1>
        <div class="reser-row">
            <div class="column">
                <form [formGroup]="reservacionForm">
                    <label class="menu-label" for="espacioReservado">Numero de Mesa:</label>
                    <select class="menu-select" id="espacioReservado" name="espacioReservado" formControlName="espacioReservado">
                        <option value="">-- Seleccione la mesa --</option>
                        <option *ngFor="let espacio of espaciosDisponiblesArray" [value]="espacio">{{
                            espacio}}</option>
                    </select>
                    <label class="menu-label" for="numeroPersonas">Numero de Personas:</label>
                    <select class="menu-select" id="numeroPersonas" name="numeroPersonas" formControlName="numeroPersonas">
                        <option value="">-- Numero de Personas --</option>
                        <option *ngFor="let personas of numeroDePersonas" [value]="personas">{{
                            personas}}</option>
                    </select>
                    <label class="menu-label" for="horaReservacion">Hora de Reservacion:</label>
                    <select class="menu-select" id="horaReservacion" name="horaReservacion" formControlName="horaReservacion">
                        <option value="">-- Seleccione la Hora --</option>
                        <option *ngFor="let hora of horasDisponibles" [value]="hora">{{
                            hora}}</option>
                    </select>
                </form>
            </div>
            <div class="column">
                <mat-card class="demo-inline-calendar-card">
                    <mat-hint>MM-DD-YYYY</mat-hint>
                    <mat-calendar [(selected)]="selectedReservationDate"></mat-calendar>
                </mat-card>
            </div>
        </div>
        <div class="menu-row-button">
            <button class="menu-button" type="submit" (click)="doReservation()">Reservar</button>
        </div>
    </div>
    <div class="column">
        <h1>Modificar Reservaciones</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon (click)="deleteRow(row)">delete</mat-icon>
                </td>
            </ng-container>
    
            <!-- Position Column -->
            <ng-container matColumnDef="numeroReserva">
                <th mat-header-cell *matHeaderCellDef> ID Reserva </th>
                <td mat-cell *matCellDef="let element">
                    <label>{{ element.numeroReserva }}</label>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef> Hora </th>
                <td mat-cell *matCellDef="let element">
                    <input type="text" [(ngModel)]="element.hora">
                </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="cantidadPersonas">
                <th mat-header-cell *matHeaderCellDef> Cantidad de Personas </th>
                <td mat-cell *matCellDef="let element">
                    <input type="text" [(ngModel)]="element.personas">
                </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element">
                    <input type="text" [(ngModel)]="element.fecha">
                </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="mesa">
                <th mat-header-cell *matHeaderCellDef> Mesa </th>
                <td mat-cell *matCellDef="let element">
                    <input type="text" [(ngModel)]="element.mesa">
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
        <button mat-button (click)="editReservation()" >Editar Reserva</button>
    </div>
    <!--<div class="column">
        <h1>Reservaciones</h1>
        <form [formGroup]="form">
            <div class="reser-row">
                <label class="menu-label">Consultar Disponibilidad</label>
                <input class="menu-select" formControlName="mensaje" type="text" #mensaje>
            </div>
        </form>
        <div class="reser-row">
            <mat-card class="demo-inline-calendar-card">
                <mat-hint>MM-DD-YYYY</mat-hint>
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>
        <div class="menu-row-button">
            <button class="menu-button" type="submit" (click)="makeReservation()">Consultar Reserva</button>
        </div>
        <div class="recom-container" *ngIf="reserva">
            <p>Fecha: {{reserva.fecha}}</p>
            <p>{{reserva.mensaje}}</p>
            <p>Horas Disponibles</p>
            <mat-list role="list">
                <mat-list-item *ngFor="let hora of reserva.horas_disponibles">{{hora}}</mat-list-item>
            </mat-list>
        </div>
    </div> -->
</div>