<div class="container">
    <div class="column">
        <h1>Reservaciones</h1>
        <form [formGroup]="form">
            <div class="reser-row">
                <label class="menu-label">Consultar Disponibilidad</label>
                <input class="menu-select" formControlName="mensaje" type="text" #mensaje>
            </div>
        </form>
        <div class="reser-row">
            <mat-card class="demo-inline-calendar-card">
                <mat-hint>MM-DD-YYYY</mat-hint>
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>
        <div class="menu-row-button">
            <button class="menu-button" type="submit" (click)="makeReservation()">Consultar Reserva</button>
        </div>
        <div class="recom-container" *ngIf="reserva">
            <p>Fecha: {{reserva.fecha}}</p>
            <p>{{reserva.mensaje}}</p>
            <p>Horas Disponibles</p>
            <mat-list role="list">
                <mat-list-item *ngFor="let hora of reserva.horas_disponibles">{{hora}}</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="column">
        <h1>Reservar</h1>
        <div class="reser-row">
            <mat-card class="demo-inline-calendar-card">
                <mat-hint>MM-DD-YYYY</mat-hint>
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>  
        <div class="menu-row-button">
            <button class="menu-button" type="submit">Reservar</button>
        </div>
    </div>
</div>