<app-home *ngIf="isOnAdminPage()"></app-home>
<div class="toolbar-row">
    <div class="toolbar">
        <div class="mat-row">
            <span class="logo" routerLink="/adminreserva">FLASH PIZZA</span>
            <span class="logo" routerLink="/login" style="padding-left: 100px;">LOGIN</span>
            <span class="logo" routerLink="/" style="padding-left: 100px;">HOME</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<footer>
    SOAD PROYECTO 2 2024 SEMESTRE 1
</footer>

